<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.ID}}">
      <span class="badge">{{hero.ID}}</span>{{hero.Name}}
    </a>
  </li>
</ul>
<div>
  <button *ngIf="viewStart != 1" (click)="goBack()">Back</button>
  <label>Start:
    <input [(ngModel)]="viewStart" placeholder="1" size=2/>
  </label>
  <label>End:
    <input [(ngModel)]="viewEnd" placeholder="20" size=2/>
  </label>
  <label>Show:
    <input [(ngModel)]="viewInterval" placeholder="20" size=2/>
  </label>
  <button *ngIf="viewEnd < totalHeroes" (click)="goForward()">Next</button>
</div>
<app-hero-detail  [hero]="selectedHero"></app-hero-detail>
